body {
	text-align: center;
}

button {
	padding: 1em;
	border-radius: .5em;
	border: .05em solid black;
}

.clear {
	clear: both;
}

.stack {
	border: .05em solid black;
	width: 1em;
	height: 1em;
	float: left;
}

.pixelated {
	background-color: red;
}

.container {
	display: inline-block;
	overflow: auto;
	margin-top: 1em;
}