.clear {
	clear: both;
}

.stack {
	border: 1px solid black;
	width: 1em;
	height: 1em;
	float: left;
}

.pixelated {
	background-color: red;
}

.container {
	margin: 0 auto;
	overflow: auto;
	width: 960px;
}